<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- suppress noise -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- Change LEVEL between [warn, info, debug]-->
    <logger name="com.techgadget.ecommerce" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>